@font-face {
    font-family: font1;
    src: url('/Font/616fd1dd00cf6c70f978fc69_Canopee.ttf');
}

@font-face {
    font-family: font2;
    src: url('/Font/5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf');
}

@font-face {
    font-family: font3;
    src: url('/Font/5f242a694256f02b944d5767_EditorialNew-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #C4BCB2;
    cursor: default;
}

.page1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #C4BCB2;
    color: #1d1d1b;
    border-top: 1px solid #1d1d1b;
    border-left: 1px solid #1d1d1b;
    border-right: 1px solid #1d1d1b;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #1d1d1b;
}

.nav h5 {
    width: 30%;
    font-size: 18px;
    font-family: font2;
    color: #1d1d1b;
    font-weight: 100;
    opacity: 0.9;
}

.nav img {
    width: 30%;
    height: 30px;
    cursor: pointer;
}

.nav i {
    width: 30%;
    text-align: right;
    font-size: 24px;
    line-height: 16px;
    overflow: hidden;
    cursor: pointer;
}

.section1 {
    margin: 30px 30px;
    display: flex;
    background-color: #C4BCB2;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    cursor: grab;
}

.box1 {
    width: 30%;
    height: 100%;
    cursor: pointer;
}

.box1-img {
    height: 60%;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(29,29,27,.5);
    border-radius: 2px;
}

.box1-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
}

.box1 .box1-img:hover img {
    scale: 1.1;
}

.box1 h2 {
    font-family: font1;
    margin: 12px 0px;
    display: flex;
    align-items: center;
}

.box1 h2 span {
    background-color: #B53B12;
    padding: 4px 6px;
    border-radius: 5px;
    color: #C4BCB2;
    margin-left: 12px;
    font-size: 16px;
}

.box1 p {
    font-family: font3;
    font-size: 18px;
    opacity: 0.9;
}

.box2 {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid rgba(29,29,27,.5);
    border-right: 1px solid rgba(29,29,27,.5);
    cursor: grab;
}

.box2 h2 {
    font-size: 50px;
    font-family: font1;
}

.box2 h5 {
    font-size: 38px;
    text-align: center;
    font-weight: 200;
    margin: 15px 0px;
    font-family: font3;
}

.box2 p {
    font-size: 18px;
    font-weight: 100;
    opacity: 0.9;
    font-family: font3;
    margin-top: 18px;
}

.box2 p span {
    font-family: font2;
    opacity: 1;
    color: #1d1d1b;
    margin-right: 6px;
}

.box3 {
    width: 30%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.box3-img {
    height: 60%;
    width: 100%;
    border: 1px solid rgba(29,29,27,.5);
    overflow: hidden;
    border-radius: 2px;
}

.box3-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
}

.box3 .box3-img:hover img {
    scale: 1.1;
}

.box3 h2 {
    font-family: font1;
    margin: 12px 0px;
    display: flex;
    align-items: center;
}

.box3 h2 span {
    background-color: #B53B12;
    padding: 4px 6px;
    border-radius: 5px;
    color: #C4BCB2;
    margin-left: 12px;
    font-size: 16px;
}

.box3 p {
    font-family: font3;
    font-size: 18px;
    opacity: 0.9;
}

.section2 {
    margin: 30px 30px;
    background-color: #1C1C19;
    padding: 2rem;
}

.section2 h1 {
    font-family: font1;
    color: #C4BCB2;
    font-size: 30rem;
    letter-spacing: 6px;
    line-height: 380px;
    overflow: hidden;
    cursor: default;
}

.page2 {
    background-color: #C4BCB2;
    width: 100%;
    /* height: 170vh; */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.left {
    width: 30%;
    height: 100%;
    margin-right: 30px;
}

.left h2 {
    text-align: center;
    font-family: font1;
    font-size: 5.8rem;
    margin-bottom: 2rem;
    font-weight: 100;
    letter-spacing: -3px;
    line-height: 90px;
}

.left h2 span {
    font-weight: 500;
    letter-spacing: -4px;
    font-size: 6rem;
    overflow: hidden;
}

.left img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border: 1px solid rgba(29,29,27,.5);
    border-radius: 2px;
}

.left .para {
    font-family: font3;
    font-size: 28px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.left .right-para,
.left p {
    font-family: font3;
    font-size: 28px;
    margin-top: 6px;
    opacity: 0.9;
}

.left .para .left-para {
    height: 100%;
    background-color: #1d1d1b;
    color: #C4BCB2;
    padding: 6px 6px;
    font-family: font1;
    font-size: 4.5rem;
    width: 20%;
    border-radius: 1px;
    height: 100%;
}

.right {
    padding-left: 50px;
    width: 70%;
    height: 100%;
    border-left: 1px solid rgba(29,29,27,.5);
}

.right img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border: 1px solid rgba(29,29,27,.5);
    border-radius: 2px;
}

.right h3 {
    text-transform: uppercase;
    font-family: font1;
    font-size: 6.5rem;
    font-weight: 100;
    position: relative;
    z-index: 2;
    opacity: 0.9;
}

.right h3::before {
    content: '';
    position: absolute;
    opacity: 0.2;
    background-color: #1d1d1b;
    top: 70%;
    z-index: 0;
    left: 4px;
    width: 100%;
    height: 1px;
}

.page3 {
    width: 100%;
    background-color: #C4BCB2;
    display: flex;
}

.page3 .elems {
    width: 100%;
    margin: 30px;
}

.page3 .elems .elem1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.page3 .elems .elem1 h1 {
    height: 100%;
    background-color: #1d1d1b;
    color: #C4BCB2;
    font-size: 25rem;
    padding: 0px 2rem;
    font-weight: 100;
    font-family: font1;
    letter-spacing: -5px;
    overflow: hidden;
    line-height: 380px;
    border-radius: 2px;
}

.page3 .elems .elem2 {
    margin-top: 30px;
    display: flex;
    width: 100%;
}

.page3 .elems .elem2 .elem2-left {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(29,29,27,.5);
}

.page3 .elems .elem2 .elem2-left .box-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 30px 0;
}

.page3 .elems .elem2 .elem2-left .box-top .box2 {
    width: 40%;
}

.page3 .elems .elem2 .elem2-left .box-top .box3 {
    width: 50%;
}

.page3 .elems .elem2 .elem2-left .box-bottom {
    width: 100%;
    height: 60%;
    overflow: hidden;
    padding-right: 30px;
}

.page3 .elems .elem2 .elem2-left .box-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page3 .elems .elem2 .elem2-right {
    padding-left: 30px;
    width: 40%;
}

.page3 .elems .elem2 .elem2-right h3 {
    font-family: font1;
    font-size: 7rem;
    font-weight: 100;
    position: relative;
    cursor: default;
}

.page3 .elems .elem2 .elem2-right h3::before {
    content: '';
    position: absolute;
    opacity: 0.2;
    background-color: #1d1d1b;
    top: 70%;
    z-index: 0;
    left: 4px;
    width: 100%;
    height: 1px;
}

.page3 .elems .elem2 .elem2-right h2 {
    font-family: font1;
    font-size: 14rem;
    line-height: 180px;
    overflow: hidden;
    font-weight: 600;
    letter-spacing: -3px;
    position: relative;
    cursor: default;
}

.page3 .elems .elem2 .elem2-right h2::before {
    content: '';
    position: absolute;
    opacity: 0.2;
    background-color: #1d1d1b;
    top: 80%;
    z-index: 0;
    left: 4px;
    width: 100%;
    height: 1px;
}

.page3 .elems .elem2 .elem2-right h6 {
    height: 100%;
    border-radius: 1px;
    width: 15%;
    padding: 12px;
    font-family: font2;
    background-color: #1d1d1b;
    color: #C4BCB2;
    font-size: 6rem;
    margin-top: 2rem;
}

.page3 .elems .elem2 .elem2-right p {
    font-size: 2.4rem;
    font-weight: 100;
    opacity: 0.9;
    margin-top: 2rem;
    font-family: font3;
    width: 80%;
}

.page3 .elems .elem2 .elem2-right > div > p {
    font-size: 2rem;
    position: relative;
    top: -42px;
    opacity: 0.9;
}

.page3 .elems .elem2 .elem2-right > p {
    font-size: 1.9rem;
    margin: auto;
    position: relative;
    top: -20px;
    left: -45px;
}

.page3 .elems .elem2 .elem2-right .gola {
    width: 90%;
    height: 20%;
    z-index: -2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #CBC2B8;
    flex-wrap: nowrap;
    border: 1px solid rgba(29,29,27,.5);
}

.page3 .elems .elem2 .elem2-right .gola h4 {
    font-family: font1;
    font-size: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-20%);
    text-align: center;
    transition: all ease 0.5s;
    opacity: 0.9;
}

.page3 .elems .elem2 .elem2-right .gola img {
    height: 60px;
    transform: translateX(-120%);
    transition: all ease 0.5s;
}

.page3 .elems .elem2 .elem2-right .gola:hover img {
    transform: translateX(90%);
}

.page3 .elems .elem2 .elem2-right .gola:hover h4 {
    transform: translateX(120%);
}

.page4 {
    background-color: #C4BCB2;
    padding: 30px;
}

.page4 .heading {
    padding: 30px 0px;
    border-top: 1px solid rgba(29,29,27,.5);
    border-bottom: 1px solid rgba(29,29,27,.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page4 .heading .heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: default;
}

.page4 .heading .heading-box .name p {
    font-family: font3;
    text-transform: uppercase;
    opacity: 0.7;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -2px;
}

.page4 .heading .heading-box .name h4 {
    font-family: font1;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 200;
    opacity: 0.9;
    text-align: center;
}

.page4 .heading .heading-box .count {
    font-size: 9rem;
    opacity: 0.9;
    font-family: font3;
}

.page4 .container {
    margin-top: 60px;
    display: flex;
    height: 715px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page4 .container .left-container {
    height: 100%;
    /* width: calc(100% - 750px); */
    width: 1050px;
    display: flex;
    flex-direction: column;
}

.page4 .container .left-container img {
    border: 1px solid #1d1d1b;
    border-radius: 2px;
    object-fit: cover;
    height: 400px; 
    width: 215px;
}

.page4 .container .left-container h4 {
    font-size: 34rem;
    font-weight: 100;
    margin-top: -5rem;
    overflow: hidden;
    padding: 0px .5rem;
    font-family: font1; 
    width: 280px;
    opacity: 0.9;
    width: calc(100% - 215px);
}

.page4 .container .left-container > div > h5 {
    width: 100%;
    letter-spacing: 1.8rem;
    margin-top: -4.5rem;
    font-family: font1;
    font-size: 26rem;
    height: auto;
    opacity: 0.9;
}

.page4 .container .right-container {
    width: 750px;
    overflow: hidden;
    height: 100%;
    margin-left: 60px;
}

.page4 .container .right-container img {
    width: 100%;
    height: 100%;
    border: 1px solid #1d1d1b;
    border-radius: 2px;
    object-fit: cover;
}

.page4 .container2,
.page4 .container3 {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page4 .container2 img {
    width: 410px;
    height: 375px;
    border: 1px solid #1d1d1b;
    border-radius: 2px;
    object-fit: cover;
}

.page4 .container2 h4 {
    width: auto;
    height: auto;
    font-family: font1;
    font-weight: 100;
    opacity: 0.9;
    font-size: 28rem;
    letter-spacing: -1.5rem;
}

.page4 .container3 {
    border-bottom: 1px solid #1d1d1b;
    padding-bottom: 60px;
}

.page4 .container3 h4 {
    padding: 0px 1rem;
    background-color: #1d1d1b;
    color: #C4BCB3;
    font-family: font1;
    font-size: 22rem;
    border-radius: 2px;
}

.page4 .container3 p {
    font-size: 2rem;
    font-weight: 100;
    opacity: 0.9;
    font-family: font3;
}

.page5 {
    background-color: #C4BCB3;
}

.page5 .page5-section2 {
    padding: 30px 30px;
    margin-top: 60px;
    border-bottom: 1px solid #1d1d1b;
    border-top: 1px solid #1d1d1b;
    white-space: nowrap;
    overflow-x: auto;
    margin-left: 30px;
    margin-right: 30px;
    overflow-y: hidden;
    width: 100%;
}

.page5 .page5-section2::-webkit-scrollbar {
    display: none;
}

.page5 .page5-section2 h3 {
    font-size: 4rem;
    font-family: font3;
    margin-right: 24px;
    font-weight: 500;
    opacity: 0.9;
    display: inline-block;
    animation: scroll 3s linear infinite;
}

.page5 .page5-section2 h3 span {
    font-size: 5rem;
    font-family: font1;
    font-weight: 500;
    padding: .5rem .8rem;
    background-color: #1d1d1b;
    color: #C4BCB2;
    border-radius: 2px;
}

.page5 .page5-section2:hover h3 {
    animation-play-state: paused;
}

.footer {
    padding: 20px 30px;
    background-color: #C4BCB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .foot-left p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 1.4rem;
    opacity: 0.8;
    font-family: font1;
}

.footer p span {
    font-family: font2;
    cursor: pointer;
}

.footer p img {
    height: 30px;
}

.footer .foot-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    opacity: 0.8;
    font-family: font1;
    font-size: 1.4rem;
}

.footer .foot-right ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .foot-right ul li i {
    font-size: 8px;
}


/* Styles for the warning message */
.warning {
    display: none;
    background-color: #C4BCB2;
    color: #1d1d1b;
    text-align: center;
    padding: 3rem 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.warning p {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(25%);
    font-size: 3rem;
    font-family: font2;
}


/* Animation  */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 24px));
    }
}